@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@400;600;700&display=swap");
$blue: #2962ff;
$verde: #65F3AB;
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Alumni Sans", sans-serif;
	font-size: 16px;
    background: {
        image: url("../img/cmog_bg.jpg");
        size: 100%;
        repeat: no-repeat;
    }

}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
	font-size: 2rem;
	color: #fff;
	text-transform: uppercase;
	gap: 30px;
    h1{
        font-size: 5rem;
        text-decoration: underline;
        @media (max-width: 768px){
            font-size: 3rem;
        }
    }
}
.text-shadow {
	font-style: italic;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: #fff;
	-webkit-text-stroke-width: 1px;
	text-shadow: 2px 2px 10px $verde;
	transition: all 0.5s ease-in-out;
	text-align: center;
	letter-spacing: 0.2em;
	animation: flicker 0.5s ease-in-out infinite alternate;

	&:hover {
		color: #fff;
	}
}

.tags small {
	@media (max-width: 768px) {
		font-size: 0.5em;
	}
}

@keyframes flicker {
	0% {
		opacity: 0.5;
		text-shadow: 2px 2px 10px $verde;
	}
	100% {
		opacity: 1;
		text-shadow: 2px 2px 20px $verde;
	}
}
.fr2{
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 1rem;
    a {
        color: #fff;
		text-align: center;
    }
    h2:hover{
        color: $verde;
    }
}
@media (max-width:768px){
    body{
        background-image: url("../img/cmog_bg_2.jpg");
        background-size: 100%;
        position: center;
    }
    .fr2{
        grid-template-columns: 1fr;
    }
    section{
        min-height: 25vh;
    }
}