@media (min-width: 768px) {
    .contact iframe {
        width: 100%;
    }
    .formulario {
        width: 70%;
        margin: auto;
        .contact_form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            .check {
                display:grid;
                text-align: center;
                grid-template-columns: 1fr 1fr;
                justify-content: center;
                input[type=checkbox]{
                    width: 1rem;
                }
            }
        }
    }
    /*servicios*/
    /*proyectos*/
    .sobre_mi h1{
        text-align: center;
        margin-left: 0;
    }
    .formacion{
        margin-top: 2rem;
    }
}