/*Globales*/
:root{
    --fondo: #2D2E32;
    --verde: #65F3AB;
    --fondo_body: rgba(37, 38, 42, 0.8);
    --fondo_menu: rgba(37,38,42,1);
    --blanco: white;
}
body{
    background-image: url(../img/fondo.jpg);
    background-size: 100%;
    background-position: center;
    position: relative;
    margin: auto;
}
.container-fluid img{
    width: 3rem;
    margin-left: 3rem;
}
h1,h2, h3, h4, p{
    font-family: 'Courier New', Courier, monospace;
}
h1, h3, h4, p{
    color: var(--blanco);
}
h1{
    font-size: 2.5rem;
    margin-left: 5rem;
}
h2{
    color: var(--verde);
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
    font-style: italic;
    font-weight: lighter;
}
h4, p{
    font-size: 1.2rem;
}
p{
    text-align: justify;
}
header{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.navbar a{
    color: var(--blanco);
}
.nav-link:hover{
    border: 2px solid var(--verde);
    border-radius: 10px;
    color: var(--blanco) !important;
}
.active{
    background-color: var(--verde);
    color: black !important;
    font-weight: bold !important;
    border-radius: 10px;
}
/*mobile*/

/*Menu*/
.navbar-nav{
    padding-top: 1rem !important;
    padding-bottom: 10rem !important;
    text-align: center;
}
/*footer*/
.footer_section{
    background-color: var(--fondo_body);
    margin-top: -1rem;
    padding-top: 3rem;
}
.fr3_footer{
    border-top: 1px solid grey;
}
.menu_footer{
    font-size: 1.5rem;
}
.menu_footer h4{
    font-size: 2rem !important;
}
.menu_footer a{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: var(--blanco);
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.menu_footer a:hover{
    border: 2px solid var(--verde);
    border-radius: 10px;
    color: var(--blanco) !important;
}
.fr3_footer h4{
    font-size: 2rem;
    padding-left: 2rem;
}
.fr2_footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.fr5_redes_footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
}
.derechos{
    margin: 2rem;
}
.derechos p{
    font-size: 0.8rem !important;
}
/*body*/
/*home*/
.home_page{
    padding-top: 5rem;
    background-color: var(--fondo_body);
    padding: 5rem 1rem 0rem;
}
.welcome h2{
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #65F3AB, #fff, #65F3AB);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative;
}
@keyframes shine{
    0% {
        background-position-x: -50%;
    }
    100% {
        background-position-x: 500%;
    }
}
.full_stack{
    background-color: var(--verde);
    font-weight: bold;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    color: black;
    border-radius: 10px;
}
.frase{
    font-size: 2.5rem;
    line-height: 2.4rem;
    text-align: center;
    font-style: italic;
}
.frase_2{
    display: flex;
    justify-content: center;
    text-align: justify;
    font-size: 1.7rem;
}
.chat{
    color: var(--verde);
    font-size: 1.5rem;
    padding: 3rem 0 !important;
    text-align: center;
}
.chat a{
    color: var(--verde);
    text-decoration: none;
}
.experiencia{
    font-size: 1.5rem;
    text-align: center;
}
.img_full img{
    width: 100%;
}
.watermark_full{
    position: relative;
}
.watermark_full::after{
    content: 'Full Stack';
    font-weight: bold;
    position:absolute;
    top: 9rem;
    right: 5.5rem;
    opacity: 0.9;
    color: black;
    font-size: 2.5rem;
    -webkit-text-stroke: 2px white;
}
.diseno h2{
    text-align: center;
}
.diseno a{
    color: var(--verde);
    text-decoration: none;
    display: flex;
    justify-content: end;
    margin-bottom: 2rem;
}
.present{
    text-align: center;
    font-size: 2rem;
    color: var(--verde);
    font-weight: lighter;
}
.introduction{
    text-align: center;
    font-size: 3rem;
    color: var(--blanco);
}
.historia{
    margin-top: 2rem;
}
/*Tablet Portrait*/
@media (min-width: 481px){
    .watermark_full::after{
        top: 12rem;
        right: 7rem;
        font-size: 4.5rem;
    }
} 
/*Tablet LandScape*/
@media (min-width: 768px){
    .home_page{
        padding: 0 2rem;
    }
    .full_stack{
        width: 80%;
        margin: 3rem auto;
    }
    .watermark_full::after{
        top: 17rem;
        right: 11rem;
        font-size: 5rem;
    }
    .diseno h2{
        text-align: center;
        font-size: 3rem;
    }
    .diseno p{
        font-size: 2rem;
    }
    .diseno a{
        font-size: 1.5rem;
    }
    .present{
        font-size: 2.5rem;
    }
    .historia{
        font-size: 2rem;
    }
    .menu_footer{
        margin-bottom: 5rem !important;
    }
    .menu_footer ul{
        list-style-type: none;
    }
    .menu_footer li{
        float: left;
    }
    .menu_footer a{
        padding: 0 1rem;
    }
    .derechos p{
        font-size: 1.5rem !important;
    }
}
/*Desktop*/
@media (min-width: 1022px){

}